# Project exclude paths
/.gradle/
/build/
.idea/

/.nextflow/
*/.nextflow/
.nextflow.log*
/work
*/work
*.~

/2023-*
/fuzz-results/
/generatedflows/
*/generatedflows/
/nextflow-*/
/experiments_repro/
/experiments.tar.gz
/experiments_repro.tar.gz
exp*

scripts/data-processing/py/__pycache__/
figs*

.ipynb_checkpoints/
afl*